<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/output.css">
</head>

<body class="">

{% include 'component/AppNavbar.twig' %}

{% include 'component/AppHero.twig' %}

{% include 'component/AppFeature.twig' with { features: features } %}

{% include 'component/AppFooter.twig'  %}

</body>
</html>