<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/output.css">
</head>
<body class="bg-gradient-to-b from-cyan-50 to-cyan-100 min-h-screen">
  
  
  <main>
    <div class="py-8">
      <h1 class="text-4xl font-bold text-cyan-800 text-center mb-3">{{ app_name }}</h1>
      <p class="text-gray-600 text-center mb-8">Welcome to our ticket management solution</p>
    </div>

    {% include 'component/AppFeature.twig' with { features: features } %}
  </main>

  {% include 'component/AppFooter.twig' %}
</body>
</html>
